- content_for(:title) { "Series: #{@series.name}" }

%h1= @series.name

%p
  %strong Publisher: 
  = @series.publisher_name

= form_tag edit_multiple_books_path, method: :get do
  %table
    %thead
      %tr
        %th &nbsp;
        %th Release Date
        %th Issue
        %th Name
    %tbody
      - unless @series.books.empty?
        - @series.books.where("id is not null").each do |book|
          %tr
            %td= check_box_tag "book_ids[]", book.id
            %td= book.cover_date
            %td= book.issue_number
            %td= link_to book.name, book
            %td
              - book.jobs.each do |job|
                = job.display_person
                %br

  = submit_tag "Edit Books"
%p= link_to 'Add a book', new_book_path(:series_id => @series.id, :next_issue => @next_book_issue)

%p
  = link_to 'Edit', edit_series_path(@series)
  |
  = link_to 'Destroy',  @series,  method: :delete, data: { confirm: 'Are you sure?' }
