- content_for(:title) { 'All jobs' }

%h2 All jobs

%p= link_to 'New job', new_job_path

- unless @jobs.empty?
  %table
    %thead
      %tr
        %th &nbsp;
        %th book
        %th job
    %tbody
      - @jobs.each do |job|
        %tr
          %td= link_to '[view]', job
          %td= job.display_book
          %td= job.display_person

%p= link_to 'New job', new_job_path