!!!
%html
  %head
    %title= content_for?(:title) ? "#{content_for(:title)} | Longbox" : 'Longbox'
    =# stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body

    %header
      %h1 Longbox

    %nav
      %ul
        %li= link_to 'Books', books_path
        %li= link_to 'Jobs', jobs_path
        %li= link_to 'People', people_path
        %li= link_to 'Series', series_index_path

    = yield

    %footer
      %p &nbsp;