%h2 Edit Book Credits

/ = form_tag update_multiple_books_path, method: :put do
= form_for(Book.new, :url => update_multiple_books_path, :html => { method: :put }) do |f|

  - @books.each do |book|
    %li
      = hidden_field_tag "book_ids[]", book.id
      = book.name

  = fields_for :book do |f|
    %p
      %strong People

    - @jobs.each do |job|
      = check_box_tag "jobs[][_destroy]"
      = label_tag "jobs[][_destroy]", "destroy"

      = select_tag "jobs[][person_id]", options_for_select(Person.all.collect{|p| [p.name, p.id]}.insert(0, ""), selected: job.person_id)
      = select_tag "jobs[][role]", options_for_select(Job.roles.keys.map {|role| [role.titleize,role]}, selected: job.role)
      %br

    %p.button
      = f.submit