%h2 All Books

= link_to 'New book', new_book_path

- unless @books.empty?
  %table
    %thead
      %tr
        %th &nbsp;
        %th Book
        %th Publisher
    %tbody
      - @books.each do |book|
        %tr
          %td
            = link_to '[view]', book_path(book)
            |
            = link_to '[edit]', edit_book_path(book)
          %td= book.name
          %td= book.publisher_name

= link_to 'New book', new_book_path