- content_for(:title) { "Book: #{@book.name}" }

%h1= @book.name
%p
  %strong Publisher: 
  = @book.publisher_name

= link_to 'View all books', root_path

%p
  = link_to 'Destroy',  @book,  method: :delete, data: { confirm: 'Are you sure?' }
