- content_for(:title) { "Series: #{@series.name}" }

%h1= @series.name

%p
  %strong Publisher: 
  = @series.publisher_name

= form_for (@series.books.new) do |f|
  = f.hidden_field :series_id, value: @series.id
  = hidden_field :redirect_to_series, value: true
  %table
    %thead
      %tr
        %th Release Date
        %th Issue
        %th Name
    %tbody
      - unless @series.books.empty?
        - @series.books.where("id is not null").each do |book|
          %tr
            %td= book.cover_date
            %td= book.issue_number
            %td= link_to book.name, book
            %td
              - book.jobs.each do |job|
                = job.display_person

%p= link_to 'Add a book', new_book_path(:series_id => @series.id, :next_issue => @next_book_issue)

%p
  = link_to 'Edit', edit_series_path(@series)
  |
  = link_to 'Destroy',  @series,  method: :delete, data: { confirm: 'Are you sure?' }
